
body {
    font-family: 'Quicksand', sans-serif;
    padding-top: 10px;
}

main {
  margin-left: 250px;
  width: 60%;
  font-size: 18px;
  line-height: 1.5em;
  border-left: 1px solid;
  padding-left:30px;
}

h1,h2 {
  color: #cb4b16;
  font-weight: 50000;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
  text-decoration: underline;
  display: inline-block;
}

.example {
  border-radius: 20px;
  border-width: thin;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px 25px 25px 25px;
  background-color: rgba(253,246,227,0.8);
  overflow-x: scroll;
  margin-top: 10px;
}

.example-title {
  background-color: #eee8d5;
  text-align: center;
  padding: 10px;
  width: 400px;
  position: relative;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border-style: solid;
  border-width: thin;
  border-color: #002b36;
}

.example-image {
  width: 80%;
}

#navigation {
  position: fixed;
  width: 200px;
  text-align: center;
  padding-left: 20px;
}

@media (min-width: 1100px) {
  main {
    width: 650px;
  }
}

.main-image {
  width: 90%;
  max-width: 500px;
  min-width: 150px;
}

#logo {
  width: 80px;
}

#menu {
  list-style: none;
  padding-left: 0px;
}

#menu li:hover {
  font-weight: bold;
  cursor: pointer;
}

#menu li a {
  text-decoration: none;
  color: black;
}

.menu-heading {
  font-size: 20px;
}

.menu-highlight {
  font-weight: bold;
}

details {
  height: auto;
  overflow: hidden;
  transition: max-height ease-in-out;
  transition-duration: var(--duration, 0.3s);
}

summary {
    cursor: pointer;
    font-style: italic;
}

.definition {
  font-style: italic;
  margin-left: 50px;
  background-color: #cce5d4;
  padding: 10px;
}

.class-def {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-thickness: .1em;
  font-weight: bolder;
  color: #4c6655;
}
